body {
	font-size: 20px;
	background-color: #808080;
	font-family: 'Oxygen', sans-serif;
	color: black;
}
* {
	box-sizing: border-box;
}
/*Header */

#header-nav {
	background-color: black;
	border-radius: 0;
	border:0;
	padding-bottom: 20px;
}
.logo-image {
	background: url(../image/dreamlogo.png);
	width: 110px;
	height: 118px;
	margin-top: 15px;
	margin-bottom: 0px;
}
.navbar-brand h1 {
	font-family: 'Castoro', serif;
	color: #befaee;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: center;
}

.navbar-brand a:hover,.navbar-brand a:focus {
	text-decoration: none;
}
h1:hover {
	color: red;
}


#nav-list {
	margin-top: 30px;
	position: relative;
}

#nav-list a {
	color: white;
	text-align: center;
	padding-right: 10px;
	text-decoration: none;
}
#nav-list a:link {
	color: white;
}
#nav-list a:hover {
	color: #FF7F50;
}
#nav-list a:active {
	color: red;
}

#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 1em;

}

/*Dropdown*/
.dropdown {
	display: none;
}
#nav-list li:hover .dropdown {
	display: block;
	position: absolute;
	left: 0%;
	top: 100%;
	background-color: black;
	z-index: 5;

}

.dropdown ul {
	margin: 10px;
	list-style-type: none;

}
.dropdown ul li {
	width: 150px;
	padding: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header span {
	border: 1px solid red;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

/* Search*/
.search {
	position: absolute;
	right: 10px;
	top: 40px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 60px;
	transition: 0.5s;
	box-shadow: 0 0 0 5px black;
	overflow: hidden;
}
.search.active {
	width: 250px;
}
.search .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; 
	cursor: pointer;
}
.search .icon::before {
	content: ' ';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 3px solid #287dfc;
	border-radius: 50%;
	transform: translate(-4px,-4px);
}
.search .icon::after {
	content: ' ';
	position: absolute;
	width: 3px;
	height: 12px;
	background: #287dfc;
	border-radius: 50%;
	transform: translate(6px,6px) rotate(315deg);
}

.search .input {
	position: relative;
	width: 300px;
	height: 60px;
	left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search .input input {
	position: absolute;
	top: -18px;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 10px 0;
	color: black;
}


.clear {
	position: absolute;
	top: 40%;
	transform: translate(-50%);
	width: 15px;
	height: 15px;
	right: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clear::before {
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #999;
	transform: rotate(45deg);
}
.clear::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #999;
	transform: rotate(315deg);
}
/*End Search*/

/*Sign in and signup*/

  /* Full-width input fields*/
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
   button {
    background-color:black;
    color: #8200FC;
    padding:  12px 14px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }

  
  button:hover {
    opacity: ;
    background-color: grey;
    
    
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
 
  
  .containe {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }





  
  /* The Modal (background) */

  .rg{
    color: black;
    font-weight: bold;
    margin-left: 2px;

  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 110%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0) ; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color:#fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

   /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  #t {
    text-align: center;
    font-style: normal;
    font-size: 1cm;
    font-weight: bold;
    color:black;
    margin-top: 0.3cm;
    
  }


  .heading-carousel{
    font-weight: bold;
    color: #000;
    font-size: 0.8cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 1cm;
  }

  .carousel-cell {
  width: 15%;
  height: 400px;
  margin-right: 40px;
  border-radius: 20px;
  counter-increment: carousel-cell;
  background-position: center;
  box-sizing: border-box;
 
 
}





.heading-carousel{
  font-weight: bold;
  color: #000;
  font-size: 0.8cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  margin-top: 1cm;
}

.wrap{
    width: 100px;
    margin:auto;
    margin: top 1px;
    margin-bottom: 1px;
    color: black;
  
  }
   
  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width: 190px;
    background: white;
    text-align: center;
    font-size: 0.5px;
    font-family: cursive;
    float: left;
    margin: 2px;
    
  
  }
        
  .card:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
     background-color:#1fffff;
  }
  .container{
      padding: 2px 16px;
      color: black;
  }






.search-box .btn i {
	font-size:24px;
	color:red;
}
/*Ende Header*/
.container .jumbotron{
	background-color: #000033;
	box-shadow: 0 0 20px #000033;
	border-radius: 0px;
	border: 2px solid black;
	margin-top: 5px;
	width: 90%;
	height: 450px;
	position: relative;
	left: 5%;
	background: url(https://c4.wallpaperflare.com/wallpaper/289/516/961/3-idiots-wallpaper-preview.jpg);
	background-size: 100% 100%;
	animation: slider 60s infinite;
	background-position: center;
}

@keyframes slider{
	0%{
		background-image: url(https://c4.wallpaperflare.com/wallpaper/289/516/961/3-idiots-wallpaper-preview.jpg);
	}
	15%{
		background-image: url(../image/jack-sparrow.jpg);
	}
	30% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/381/675/700/movies-bollywood-movies-wallpaper-preview.jpg);
	}
	45% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/691/805/101/movie-titanic-kate-winslet-leonardo-dicaprio-wallpaper-preview.jpg);
	}
	60% {
		background-image: url(../image/chennai.jpg);
	}
	75% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/797/633/218/tyrion-lannister-game-of-thrones-wallpaper-preview.jpg);
	}
	90%{
		background-image: url(../image/kick.jpg);
	}
	95% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/26/914/515/breaking-bad-walter-white-aaron-paul-bryan-cranston-wallpaper-preview.jpg);
	}
	100% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/289/516/961/3-idiots-wallpaper-preview.jpg);
	}
}


#line {
	font-style: normal;
	padding-left: 15px;
	background-color: maroon;
	color: white;
}


.movie {
	height: 250px;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
	border:2px solid #3F0C1F;
	position: relative;
	overflow: hidden;
	font-family: 'Viaoda Libre', cursive;
	font-weight: bold;
	
}

.movie:hover{
	box-shadow: 0 1px 5px 5px black;
	font-size: 1.1em;
	margin-bottom: 10px;
	height: 255px;
}
#endgame {
	background: url(../image/endgame.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#inception {
	background: url(../image/inception.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#Hobbs {
	background: url(../image/jurasic.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#matrix {
	background: url(../image/matrix.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#dark {
	background: url(../image/dark.jpg);
	background-position: center;
	background-size: cover;
}
#moneyheist {
	background: url(../image/moneyheist.jpg);
	background-position: center;
	background-size: cover;
}
#taqdeer {
	background: url(../image/taqdeer.jpg);
	background-position: center;
	background-size: cover;
}
#mirzapur {
	background: url(../image/mirzapur.jpg);
	background-position:center;
	background-size: cover;
}
#Geetha {
	background: url(../image/geetha.jpg);
	background-position:center;
	background-size: cover;	
}
#parasite {
	background: url(../image/parasite.jpg);
	background-position:center;
	background-size: cover;	
}
#dhoni {
	background: url(../image/dhoni.jpg);
	background-position: center;
	background-size: cover;
}
#charlie {
	background: url(../image/charlie.jpg);
	background-position: center;
	background-size: cover;
}
#blinders {
	background: url(../image/loki.jpg);
	background-position: center;
	background-size: cover;	
}
#fast {
	background: url(../image/fast.jpg);
	background-position: center;
	background-size: cover;
}
#karnan {
	background: url(../image/karnan.jpg);
	background-position: center;
	background-size: cover;
}

#Drishyam2 {
	background: url(../image/Drishyam2.jpg);
	background-position: center;
	background-size: cover;	
}


.movie span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	color: yellow;
	font-size: 1em;
	background-color: black;
	opacity: 0.7;
}
/*Previous & Next*/
div .next {
	text-align: center;
	margin: 1px;
	margin-top: 20px;
}
div .next span {
	width: 50px;
	padding: 5px;
	background-color: white;
	margin: 1px;
	font-weight: bold;
	text-align: center;
	
}
div .next a {
	text-decoration: none;
	color: maroon;
}
div .next span:hover {
	background-color: black;
}

/*Footer*/
.panel-footer {
	background-color: #222;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
}

.panel-footer div .row {
	margin-bottom: 30px;
}
#about {
	line-height: 2;
}
#contact > span,#about > span {
	font-size: 1.2em;
	margin-bottom: 0px;
}
section {
	color: white;
}
#quote {
	margin-right: 50px;
}
#quote p {
	font-style: italic;
}
#quote p:nth-child(2) {
	margin-top: 25px;
}
#quote p:nth-child(3) {
	margin-top: 25px;
	margin-bottom: 25px;
}
#contact {
	text-align: ;
}
#contact i {
	font-size: 2em;
	margin: 20px;
}
#copy {
	text-align: center;
	color: white;
	font-weight: bold;
}
/*End Footer*/


/*Hollywood*/
#description h3 {
	font-weight: bold;
	font-family: 'Viaoda Libre', cursive;
}
#description {
	color: black;
}
#description #quote {
	font-size: 0.8em;
}
#description #release {
	font-size: 0.9em;
	font-family: 'Lora', sans-serif;
}
#description #rating {
	color: yellow;
}
#download {
	background-color: #080808;
	border:2px solid black;
	color: white;
	text-align: center;
	
	padding-left: 5px;
}

#description #category span:hover {
	color: blue;
	cursor: pointer;
}
#download:hover {
	background-color: #010b13;
	box-shadow: 0 0 5px blue;
}

#avatar {
	background: url("../image/hollywood/avatar.jpg");
	background-position: center;
	background-size: cover;
}
#joker {
	background: url("../image/hollywood/joker.jpg");
	background-position: center;
	background-size: cover;
}
#redemption {
	background: url("../image/hollywood/redemption.jpg");
	background-position: center;
	background-size: cover;
}
#five {
	background: url("../image/hollywood/five-feet-apart.jpg");
	background-position: center;
	background-size: cover;
}
#parasite {
	background: url("../image/hollywood/parasite.jpg");
	background-position: center;
	background-size: cover;
}
#titanic {
	background: url("../image/hollywood/titanic.jpg");
	background-position: center;
	background-size: cover;
}
#fantastic {
	background: url("../image/hollywood/fantastic.jpg");
	background-position: center;
	background-size: cover;
}
/*End Of Hollywood*/

/*Bollywood*/
#chennai {
	background: url("../image/bollywood/chennai.jpg");
	background-position: center;
	background-size: cover;
}
#pk {
	background: url("../image/bollywood/pk.jpg");
	background-position: center;
	background-size: cover;
}
#bajrangi {
	background: url("../image/bollywood/bhaijan.jpg");
	background-position: center;
	background-size: cover;
}
#kabil {
	background: url("../image/bollywood/kabil.jpg");
	background-position: center;
	background-size: cover;
}
#idiots {
	background: url("../image/bollywood/idiot.jpg");
	background-position: center;
	background-size: cover;
}
#zindagi {
	background: url("../image/bollywood/dearzindagi.jpg");
	background-position: center;
	background-size: cover;
}
#rustom {
	background: url("../image/bollywood/rustom.jpg");
	background-position: center;
	background-size: cover;
}
#terenam {
	background: url("../image/bollywood/terenam.jpg");
	background-position: center;
	background-size: cover;
}
#kalhonaho {
	background: url("../image/bollywood/kalhonaho.jpg");
	background-position: center;
	background-size: cover;
}
#munna {
	background: url("../image/bollywood/munna.jpg");
	background-position: center;
	background-size: cover;
}
/*End Of Bollywood*/

/*SouthIndia*/
#bharat {
	background: url("../image/south-indian/bharat.jpg");
	background-position: center;
	background-size: cover;
}
#i {
	background: url("../image/south-indian/i.jpg");
	background-position: center;
	background-size: cover;
}
#ranjana {
	background: url("../image/south-indian/ranjana.jpg");
	background-position: center;
	background-size: cover;
}
#geeta {
	background: url("../image/south-indian/geeta.jpg");
	background-position: center;
	background-size: cover;
}
#son {
	background: url("../image/south-indian/son.jpg");
	background-position: center;
	background-size: cover;
}
#kgf {
	background: url("../image/south-indian/kgf.jpg");
	background-position: center;
	background-size: cover;
}
#padi {
	background: url("../image/south-indian/padi.jpg");
	background-position: center;
	background-size: cover;
}
#bahubali {
	background: url("../image/south-indian/bahubali.jpg");
	background-position: center;
	background-size: cover;
}
#charlie1 {
	background: url("../image/south-indian/charlie.jpg");
	background-position: center;
	background-size: cover;
}
#theri {
	background: url("../image/south-indian/theri.jpg");
	background-position: center;
	background-size: cover;
}
/*End Of South-Indian*/

/*Tv & Web*/
#mohanagar {
	background: url("../image/tv/mohanagar.jpg");
	background-position: center;
	background-size: cover;
}
#friend {
	background: url("../image/tv/friend.jpg");
	background-position: center;
	background-size: cover;
}
#thrones {
	background: url("../image/tv/thrones.jpg");
	background-position: center;
	background-size: cover;
}
#sacred {
	background: url("../image/tv/sacred.jpg");
	background-position: center;
	background-size: cover;
}
#sherlock {
	background: url("../image/tv/sherlock.jpg");
	background-position: center;
	background-size: cover;
}
#break {
	background: url("../image/tv/break.jpg");
	background-position: center;
	background-size: cover;
}


/*Large Device Only*/
@media (min-width: 1200px) {
	.container {
		position: relative;
	}
	.search-box {
		position: absolute;
		bottom: 40px;
		right: 0px;
	}

}
/*Medium Device Only*/
@media (min-width: 992px) and (max-width: 1199px) {
	.logo-image {
	background: url(../image/dreamlogo.png) no-repeat;
	width: 110px;
	height: 118px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: 5px;
}
	#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 0.9em;

}
.search-box {
		position: absolute;
		bottom: 20px;
		right: 0px;
}
h1:hover {
	color: red;
}
.container {
	position: relative;
}

.navbar-brand h1 {
	font-size: 30px;
}
.search-box i {
	width: 20px;
	height: 30px;
}
}
/*Small Device Only*/
@media(min-width: 768px) and (max-width: 991px) {
	#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 0.8em;

}
.navbar-brand h1 {
	font-family: 'Castoro', serif;
	color: #FFE4C4;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 20px;
}
h1:hover {
	color: red;
}
}
/*Extra Small Device Only*/
@media(max-width: 767px) {
	.navbar-brand {
		height: 50px;
		padding-top: 15px;
}
	.navbar-brand h1 {
	font-family: 'Lora',serif;
	color: #FFE4C4;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 8px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 5vw;
}
.container {
	position: relative;
}

.search-box1 {
	position: absolute;
	top: 20px;
	left: 0px;

}
.Search {
	padding-top: 20px;
}
.search-box1 input {
	width: 80px;
	height: 30px;
	margin: 0px;
}
.search-box .btn {
	position: absolute;
	left: 0px;
	padding-left: 40px;
	padding-bottom: 10px;
}
.search-box1 i {
	font-size: 30px;
	color: red;
	margin: 0px;
}

h1 {
	position: absolute;
	left: 35%;
}
h1:hover {
	color: red;

}

#about,#contact,#quote {
	text-align: center;
}
#signin {
	text-align: center;
}

/*Dropdown*/
#nav-list {
position: relative;
} 
 .dropdown {
 	position: relative;
	display: block;
	background-color: black;
	overflow: hidden;

}
.dropdown ul {
	margin: 10px;
	list-style-type: none;

}
.dropdown ul li {
	width: 100%;
	padding: 10px;
	
}
.dropdown ul li a {
	text-align: center;
}

   button {
    background-color:black;
    color: #8200FC;
    padding:  12px 14px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 8%;
    text-align: center;
    
  }

  
  button:hover {
    opacity: ;
    background-color: grey;
    
    
  }


/* Search*/
.search {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 60px;
	transition: 0.5s;
	/*box-shadow: 0 0 0 5px black;*/
	overflow: hidden;
}
.search.active {
	width: 250px;
}
.search .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; 
	cursor: pointer;
}
.search .icon::before {
	content: ' ';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 3px solid #287dfc;
	border-radius: 50%;
	transform: translate(-4px,-4px);
}
.search .icon::after {
	content: ' ';
	position: absolute;
	width: 3px;
	height: 12px;
	background: #287dfc;
	border-radius: 50%;
	transform: translate(6px,6px) rotate(315deg);
}

.search .input {
	position: relative;
	width: 300px;
	height: 60px;
	left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search .input input {
	position: absolute;
	top: -18px;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 10px 0;
	color: black;
}


.clear {
	position: absolute;
	top: 40%;
	transform: translate(-50%);
	width: 15px;
	height: 15px;
	right: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clear::before {
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #999;
	transform: rotate(45deg);
}
.clear::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #999;
	transform: rotate(315deg);
}
/*End Search*/

}
