body {
	font-size: 20px;
	background-color: grey;
	font-family: 'Oxygen', sans-serif;
}
* {
	box-sizing: border-box;
}
/*Header */

#header-nav {
	background-color: black;
	border-radius: 0;
	border:0;
	padding-bottom: 20px;
}
.logo-image {
	background: url(../image/dreamlogo.png);
	width: 110px;
	height: 118px;
	margin-top: 15px;
	margin-bottom: 0px;
}
.navbar-brand h1 {
	font-family: 'Castoro', serif;
	font-style: G;
	color: #FFE4C4;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: center;
}
.navbar-brand a:hover,.navbar-brand a:focus {
	text-decoration: none;
}
h1:hover {
	color: red;
}


#nav-list {
	margin-top: 15px;
}
#nav-list a {
	color: white;
	text-align: center;
}
#nav-list a:link,#nav-list a:visited {
	color: white;
}
#nav-list a:hover,#nav-list a:active {
	color: #FF007F;
}
#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 1em;

}
.navbar-header button.navbar-toggle, .navbar-header span {
	border: 1px solid red;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
div input {
	border: 3px solid red;
	height: 30px;
	width: 250px;
	border-radius: 50px;
	padding-left: 20px;
	font-style: italic;
	font-family: sans-serif;
}
.search-box .btn i {
	font-size:24px;
	color:red
}
/*Ende Header*/

.container-fluid .jumbotron {
	background-color: #000033;
	box-shadow: 0 0 20px #000033;
	border: 2px solid black;
	margin-top: 5px;
	width: 90%;
	height: 350px;
	position: relative;
	left: 5%;
	background: url(https://c4.wallpaperflare.com/wallpaper/289/516/961/3-idiots-wallpaper-preview.jpg);
	background-size: 100% 100%;
	animation: slider 60s infinite;
	background-position: center;
}
@keyframes slider{
	0%{
		background-image: url(https://c4.wallpaperflare.com/wallpaper/289/516/961/3-idiots-wallpaper-preview.jpg);
	}
	15%{
		background-image: url(https://c4.wallpaperflare.com/wallpaper/617/75/582/jack-sparrow-pirates-of-the-caribbean-johnny-depp-pirates-wallpaper-preview.jpg);
	}
	30% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/381/675/700/movies-bollywood-movies-wallpaper-preview.jpg);
	}
	45% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/691/805/101/movie-titanic-kate-winslet-leonardo-dicaprio-wallpaper-preview.jpg);
	}
	60% {
		background-image: url(../image/chennai.jpg);
	}
	75% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/797/633/218/tyrion-lannister-game-of-thrones-wallpaper-preview.jpg);
	}
	90%{
		background-image: url(../image/kick.jpg);
	}
	95% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/26/914/515/breaking-bad-walter-white-aaron-paul-bryan-cranston-wallpaper-preview.jpg);
	}
	100% {
		background-image: url(https://c4.wallpaperflare.com/wallpaper/289/516/961/3-idiots-wallpaper-preview.jpg);
	}
}

#line {
	font-style: normal;
	padding-left: 15px;
	background-color: maroon;
	font-weight: bold;
	color: white;
}


.movie {
	height: 250px;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
	border:2px solid #3F0C1F;
	position: relative;
	overflow: hidden;
	font-family: 'Viaoda Libre', cursive;
	font-weight: bold;
	
}

.movie:hover{
	box-shadow: 0 1px 5px 5px black;
	font-size: 1.2em;
	margin-bottom: 10px;
	height: 255px;
}
#endgame {
	background: url(../image/endgame.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#inception {
	background: url(../image/inception.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#Hobbs {
	background: url(../image/jurasic.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#matrix {
	background: url(../image/matrix.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
#dark {
	background: url(../image/dark.jpg);
	background-position: center;
	background-size: cover;
}
#moneyheist {
	background: url(../image/money.jpg);
	background-position: center;
	background-size: cover;
}
#taqdeer {
	background: url(../image/taqdeer.jpg);
	background-position: center;
	background-size: cover;
}
#mirzapur {
	background: url(../image/mirzapur.jpg);
	background-position:center;
	background-size: cover;
}
#Geetha {
	background: url(../image/geetha.jpg);
	background-position:center;
	background-size: cover;	
}
#parasite {
	background: url(../image/parasite.jpg);
	background-position:center;
	background-size: cover;	
}
#dhoni {
	background: url(../image/dhoni.jpg);
	background-position: center;
	background-size: cover;
}
#charlie {
	background: url(../image/charlie.jpg);
	background-position: center;
	background-size: cover;
}
#fast {
	background: url(../image/fast.jpg);
	background-position: center;
	background-size: cover;
}
#karnan {
	background: url(../image/karnan.jpg);
	background-position: center;
	background-size: cover;
}
#blinders {
	background: url(../image/blinders.jpg);
	background-position: center;
	background-size: cover;	
}
#Drishyam2 {
	background: url(../image/Drishyam2.jpg);
	background-position: center;
	background-size: cover;	
}




.movie span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	color: yellow;
	font-size: 1em;
	background-color: black;
	opacity: 0.7;
}

/*Footer*/
.panel-footer {
	background-color: #222;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
}

.panel-footer div .row {
	margin-bottom: 30px;
}
#about {
	line-height: 2;
}
#contact > span,#about > span {
	font-size: 1.2em;
	margin-bottom: 0px;
}
section {
	color: white;
}
#quote {
	margin-right: 50px;
}
#quote p {
	font-style: italic;
}
#quote p:nth-child(2) {
	margin-top: 25px;
}
#quote p:nth-child(3) {
	margin-top: 25px;
	margin-bottom: 25px;
}
#contact {
	text-align: ;
}
#contact i {
	font-size: 2em;
	margin: 20px;
}
#copy {
	text-align: center;
	color: white;
	font-weight: bold;
}

/*Large Device Only*/
@media (min-width: 1200px) {
	.container-fluid {
		position: relative;
	}
	.search-box {
		position: absolute;
		bottom: 40px;
		right: 0px;
	}

}
/*Medium Device Only*/
@media (min-width: 992px) and (max-width: 1199px) {
	.logo-image {
	background: url(../image/dreamlogo.png) no-repeat;
	width: 110px;
	height: 118px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: 5px;
}
	#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 0.9em;

}
.search-box {
		position: absolute;
		bottom: 20px;
		right: 0px;
}
h1:hover {
	color: red;
}
.container-fluid {
	position: relative;
}

.navbar-brand h1 {
	font-size: 30px;
}
.search-box i {
	width: 20px;
	height: 30px;
}
}
/*Small Device Only*/
@media(min-width: 768px) and (max-width: 991px) {
	#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 0.8em;

}
.navbar-brand h1 {
	font-family: 'Castoro', serif;
	color: #FFE4C4;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 20px;
}
h1:hover {
	color: red;
}
}
/*Extra Small Device Only*/
@media(max-width: 767px) {
	.navbar-brand {
		height: 50px;
		padding-top: 15px;
}
	.navbar-brand h1 {
	font-family: 'Lora',serif;
	color: #FFE4C4;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 8px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 5vw;
}
.container-fluid {
	position: relative;
}

.search-box1 {
	position: absolute;
	top: 20px;
	left: 0px;

}
.Search {
	padding-top: 20px;
}
.search-box1 input {
	width: 80px;
	height: 30px;
	margin: 0px;
}
.search-box .btn {
	position: absolute;
	left: 0px;
	padding-left: 40px;
	padding-bottom: 10px;
}
.search-box1 i {
	font-size: 30px;
	color: red;
	margin: 0px;
}

h1 {
	position: absolute;
	left: 35%;
}
h1:hover {
	color: red;

}

#about,#contact,#quote {
	text-align: center;
}
}
