body {
	font-size: 20px;
	background-color: #2B1B17;
	font-family: 'Oxygen', sans-serif;
}
/*Header */

#header-nav {
	background-color: black;
	border-radius: 0;
	border:0;
	padding-bottom: 20px;
}
.logo-image {
	background: url(../image/dream.png) no-repeat;
	width: 110px;
	height: 110px;
	margin-top: 15px;
	margin-bottom: 0px;
}
.navbar-brand h1 {
	font-family: 'Lora',serif;
	font-style: italic;
	color: blue;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: center;
}
.navbar-brand a:hover,.navbar-brand a:focus {
	text-decoration: none;
}
h1:hover {
	color: red;
}


#nav-list {
	margin-top: 15px;
}
#nav-list a {
	color: white;
	text-align: center;
}
#nav-list a:link,#nav-list a:visited {
	color: white;
}
#nav-list a:hover,#nav-list a:active {
	color: #FF6347;
}
#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 0.8em;

}
.navbar-header button.navbar-toggle, .navbar-header span {
	border: 1px solid red;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
div input {
	border: 3px solid red;
	height: 30px;
	width: 250px;
	border-radius: 50px;
	padding-left: 20px;
	font-style: italic;
	font-family: sans-serif;
}

/*Large Device Only*/
@media (min-width: 1200px) {
	.container-fluid {
		position: relative;
	}
	.search-box {
		position: absolute;
		bottom: 70px;
		right: 0px;
	}

}
/*Medium Device Only*/
@media (min-width: 992px) and (max-width: 1199px) {
	.logo-image {
	background: url(../image/dream.png) no-repeat;
	width: 100px;
	height: 100px;
	margin-top: 15px;
	margin-bottom: 0px;
}
	#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 1em;

}
h1:hover {
	color: red;
}
}
/*Small Device Only*/
@media(min-width: 768px) and (max-width: 991px) {
	#nav-list a span {
	font-family: 'Viaoda Libre', cursive;
	font-size: 0.8em;

}
.navbar-brand h1 {
	font-family: 'Lora',serif;
	font-style: italic;
	color: blue;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 20px;
}
h1:hover {
	color: red;
}
}
/*Extra Small Device Only*/
@media(max-width: 767px) {
	.navbar-brand {
		height: 50px;
		padding-top: 15px;
}
	.navbar-brand h1 {
	font-family: 'Lora',serif;
	font-style: italic;
	color: blue;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 8px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 5vw;
}
.container-fluid {
	position: relative;
}

.search-box1 {
	position: absolute;
	top: 20px;
	right: 50px;

}
.search-box1 input {
	width: 80px;
	height: 30px;
	margin: 0px;
}
.search-box1 i {
	font-size: 15px;
	color: red;
	margin: 0px;
}
}
h1:hover {
	color: red;
}
